*{
    margin: 0;
    background-color: #777
}
#container{
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#maindiv{
    display: flex;
    justify-content: center;
    margin: auto;
}

#topProgress{
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

#leftProgress{
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

#rightProgress{
    position: absolute;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomProgress{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    right: 0;
}